streamlit
pandas
numpy
openai
python-docx
PyPDF2
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
openpyxl
requests
python-dotenv
azure-core
azure-ai-documentintelligence
docx2txt
azure-ai-formrecognizer
PyMuPDF
databricks-sql-connector
databricks-sdk
